body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    margin: 16px;
    padding: 16px;
}


.kont{
    background:lightpink ;
    width: 400px;
    height: 400px;
    color: rgb(247, 238, 224);
    display: grid;
    place-items: center;

}

.parnt {
    width: 200px;
    height: 200px;
    background: violet;
    display: grid;

}

.child{
    background: blueviolet;
    width: 50%;
    height: 50%;
    display: grid;
    place-items: center;
    place-self: center;

}

.panel {

    background: lightsalmon;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border-width: 10px;
    border-style: solid;
    border-color: salmon;
    margin-bottom: 16px;
}

.mix{
    background: lightskyblue;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(5, 57, 78);
    border-left-style: dashed;
    border-top-style: dotted;
    border-right-style: dashed;
    border-bottom-style: dotted;
    margin-bottom: 16px;

}

.nevim{
    background: rgb(220, 155, 250);
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border: 5px solid pink;
    margin-bottom: 16px;


}