body{
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
}

.textik{

    text-align: center;
    font-size: small;
}

h1{


    color: rgb(108, 108, 201);
}