

body{
    background-color: rgb(218, 168, 122);



}

.veci{
    background-color: rgb(247, 221, 186);
    margin: 50px;
    padding: 50px;
    border-radius: 50px;
    border-color: rgb(241, 139, 14);
    border-width: 40px;

}


h1{
    display: grid;
    place-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px;
    padding: 30px;
    background-color: rgb(236, 134, 134);
    color: rgb(75, 5, 5);
    border-radius: 50px;
    
}

.odkaz{
    display: grid;
    place-items: center;
    



}


a{

    margin: 10px;
    padding: 10px;
    height: 20px;
    width: 100px;
    text-align: center;
    color: rgb(102, 4, 4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-style: oblique;
    background-color: rgb(238, 187, 120);
    border-radius: 20px;
}